$color-accent: #150141
$color-text: #1F1B14
$color-text-alt: #62605C
$color-background: #F5F3EF
$color-background-alt: #EBE7E0
$color-border: #000000

$font-luciole: "Luciole", sans-serif
$font-vg5000: "VG5000", sans-serif
$heading-font-family: $font-vg5000
$body-font-family: $font-luciole

$btn-border-radius: 0
$header-background: $color-background
$header-logo-height: pxToRem(20)
$header-logo-height-desktop: pxToRem(24)
$header-dropdown-full: true
$hero-background-color: none
$footer-background-color: $color-text
$footer-color: white
$footer-logo-height: 70px
$footer-logo-height-desktop: 100px


// border width 2
$border-width: 2px
// changer les pictos
// breadcrumb toute la largeur
// block-space-y : 128px en pleine largeur
$block-space-y-desktop: pxToRem(128)
// format carré pour les avatars
$avatar-border-radius: 0
// flèche à droite et pas à gauche