$color-accent: #1F1B14
$color-text: #1F1B14
$color-text-alt: #62605C
$color-background: #F5F3EF
$color-background-alt: #EBE7E0
$color-border: #000000

$font-luciole: "Luciole", sans-serif
$font-vg5000: "VG5000", sans-serif
$heading-font-family: $font-vg5000
$body-font-family: $font-luciole

$header-background: $color-background
$header-logo-height: pxToRem(20)
$header-logo-height-desktop: pxToRem(24)
$header-dropdown-full: true

$hero-background-color: none

$footer-background-color: $color-text
$footer-color: white
$footer-logo-height: 70px
$footer-logo-height-desktop: 100px

$border-width: 2px
// changer les pictos
// breadcrumb toute la largeur

$block-space-y-desktop: pxToRem(128)

// flèche à droite et pas à gauche
$btn-border-radius: 0
$avatar-border-radius: 0

$h1-size: pxToRem(40)
$h1-size-desktop: pxToRem(64)
$h1-line-height: 1.11
$h1-line-height-desktop: 1.125

$h2-size: pxToRem(32)
$h2-size-desktop: pxToRem(48)
$h2-line-height: 0.9
$h2-line-height-desktop: 1.1

$h3-size: pxToRem(22)
$h3-size-desktop: pxToRem(28)
$h3-line-height: 1.18
$h3-line-height-desktop: 1.3

$h4-size: pxToRem(18)
$h4-size-desktop: pxToRem(22)
$h4-line-height: 1.14
$h4-line-height-desktop: 1.3

$h5-size: pxToRem(20)
$h5-size-desktop: pxToRem(24)
$h5-line-height: 1.3
$h5-line-height-desktop: 1.3

// icons
$icons-custom-font-family: 'Icomoon'
$icons-custom: ()
$icons-custom-size-ratio: 0.8
$icons-custom: map-merge($icons-custom, ("arrow-right-line": "\e005"))
$icons-custom: map-merge($icons-custom, ("arrow-left-line": "\e006"))
$icons-custom: map-merge($icons-custom, ("arrow-up-line": "\e004"))
$icons-custom: map-merge($icons-custom, ("arrow-down-line": "\e003"))
$icons-custom: map-merge($icons-custom, ("search-line": "\e001"))
$icons-custom: map-merge($icons-custom, ("links-line": "\e002"))
$icons-custom: map-merge($icons-custom, ("arrow-up-s-line": "\e009"))
$icons-custom: map-merge($icons-custom, ("arrow-right-s-line": "\e008"))
$icons-custom: map-merge($icons-custom, ("arrow-down-s-line": "\e010"))
$icons-custom: map-merge($icons-custom, ("arrow-left-s-line": "\e007"))

// Transition duration
$default-duration: 0s
$arrow-duration: 0s

// custom
$custom-border: var(--border-width) solid var(--color-border)

$layout-cards-item-background: var(--color-text)
$layout-cards-item-background-hover: var(--color-background)
$layout-cards-item-color: var(--color-background)
$layout-cards-item-color-hover: var(--color-text)

$block-pages-card-page-background: $layout-cards-item-background
$block-pages-card-page-background-hover: $layout-cards-item-background-hover
$block-pages-card-page-color: $layout-cards-item-color
$block-pages-card-page-color-hover: $layout-cards-item-color-hover
