$color-accent: #ff0090
$color-text: #000000
$color-text-alt: #454545
$color-background: #f0ebeb
$color-background-alt: #e3dfdf

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none