.logo-text
    font-family: $font-vg5000 !important

header#document-header .dropdown-menu,
.breadcrumb-container
    border-top: var(--border-width) solid black
    border-bottom: var(--border-width) solid black
