.logo-text
    font-family: $font-vg5000 !important

header#document-header .dropdown-menu
    border-top: $custom-border
    border-bottom: $custom-border

.breadcrumb-container
    border-bottom: $custom-border

.hero
    border-bottom: $custom-border
    padding-bottom: 0
    margin-top: -1px
    @include media-breakpoint-up(desktop)
        .content
            align-items: center
            padding-top: 0
            .hero-text
                width: columns(6)
                margin-top: 0
                padding-top: var(--block-space-y)
                padding-bottom: var(--block-space-y)
            .hero-image
                width: offset(6)
                margin-right: var(--grid-gutter-negative)
