header#document-header
    .logo-text
        font-family: $heading-font-family !important
        font-size: $header-logo-height !important
        @include media-breakpoint-up(desktop)
            font-size: $header-logo-height-desktop !important
    @include media-breakpoint-up(desktop)
        .dropdown-menu
            border-top: $custom-border
            border-bottom: $custom-border
            padding-bottom: var(--grid-gutter)
            padding-top: var(--grid-gutter)

footer#document-footer
    .footer-menu
        font-family: $heading-font-family
        .nav-search
            // Todo : rename menu footer name
            display: none !important
        .nav-level-1
            > li
                > span
                    @include meta
                    color: $color-text-alt-opacity
                &.menu-class-no-title
                    > span:first-child
                        visibility: hidden
        .nav-level-2
            > li
                @include h6
    @include media-breakpoint-up(desktop)
        .footer-logo
            width: columns(3)
            .logo-text
                font-size: Min(3.6vw, var(--h2-size))
        .footer-menu
            width: columns(9)
            .nav-level-1
                display: flex
                gap: var(--grid-gutter)
                > li
                    width: columns(3)
                    margin-top: 0
            .nav-level-2
                margin-top: space(4)
        .footer-secondary
            align-items: baseline !important
            .footer-search
                padding-top: 0
                width: columns(3)
            .footer-legals
                width: columns(9)
                .nav-legal
                    display: flex
                    gap: $spacing-3
                    > li
                        margin-top: 0
            .footer-credit
                margin-top: space(4)
                color: $color-text-alt-opacity

.hero
    @include media-breakpoint-up(desktop)
        border-bottom: $custom-border
        padding-bottom: 0
        margin-top: -1px
        .content
            align-items: center
            padding-top: 0
            .hero-text
                width: columns(6)
                margin-top: 0
                padding-top: var(--block-space-y)
                padding-bottom: var(--block-space-y)
            .hero-image
                width: offset(6)
                margin-right: var(--grid-gutter-negative)

.breadcrumb-container
    border-bottom: $custom-border
    @include media-breakpoint-down(desktop)
        border-top: $custom-border


.document-content > .blocks .block:first-child
    margin-top: var(--block-space-y)

.toc
    ol
        li
            @include signature